.nav-bar{
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ul{
    display: flex;
    flex-direction: row;
    gap: 15px;

    font-size: 1.25rem;
    li{
      list-style-type: none;
    }
  }
}