.planta_container{
  margin-bottom: 150px;
  margin-top: -65px;
  display: flex;
  width: 1000px;
  height: 440px;

  article.como_conseguir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0.7;
    background-color: #fff;
    padding: 25px;

    p{
      font-size: 1.1rem
    }
    h2{
      font-family: var(--font-elsie);
      font-size: 2.5rem;
    }
  }

  section.lista{
    display: flex;
    flex-direction: column;
    margin-top: 65px;

    justify-content: space-evenly;

    .circulo{
      background-color: #FFCB47;
      border-radius: 50%;
      width: 35px;
      height: 35px
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 30px;

      li{
        display: flex;
        flex-direction: row;
        gap: 25px;

        align-items: center;
        list-style-type: none;
      }
    }
  }


    

}


@media (max-width: 428px){
  .planta_container{
    flex-direction: column;
    width: 100%;

    margin-top: -64px;
    margin-bottom: 50px;

    height: 620px;

    img{
      width: 100%;
    }

    section.lista{
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      
      ul{
        li{
          gap: 15px;
        }
      }
      
      .circulo{
        width: 20px;
        height: 20px;
      }
  
      p{
        font-size: 0.9rem;
      }
    }

  }

}
