.ofertas{
  display: flex; 
  flex-direction: column;
  
  header p{
    text-align: center;
  }

  section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 3%;
  }

  h2{
    font-family: Elsie Swash Caps;
    font-size: 70px;
    font-weight: 900;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;
  }

  .card{
    display: flex;
    width: 400px;
    background-color: #fff; 
    font-size: 20px;
    font-family: Elsie Swash Caps;

    img{
      width: 275px;
      object-position: left bottom;
      object-fit: none;
      position: relative;
      z-index: 1;
    }
  }

  .detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
    right: 10px;

    h3{
    font-size: 1.5rem;
    }

    p{
      font-size: 18px;
      font-family: Cascadia Mono;
      color: rgba(32, 32, 32, 0.7137254902);
    }

    a{
      font-family: Cascadia Mono;
      font-weight: 600;
      color: #FFAA47;
    }
    svg{
      vertical-align: middle;
    }
  }

  .filtros_container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;

    justify-content: center;
    align-items: center;

    input{
      width: 200px;
    }
  }

  .ordenar{
    display: flex;
    gap: 15px;
  }
}

@media (max-width:428px){
 .ofertas{
  .filtros_container{
    display: flex;
    flex-direction: column;
  }
 }
}